.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1400px;
    width: 100%;
    min-height: 100%;
}

.head {
    max-width: 90px;
    width: 100%;
    min-height: 36px;
    justify-content: space-around;
    font-family: 'aldrich', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.25px;
    color: #242635;
}

a {
    text-decoration: none;
    color: black;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: right;
    list-style: none;
    max-width: 267px;
    width: 100%;
    min-height: 25px;
}

.nav-text {
     /* max-width: 267px;*/
    max-width: 42px;
    width: 100%;
    min-height: 23px;
    justify-content: right;
    font-family: 'source sans pro', sans-serif;
    font-style: normal;
    font-weight:  400px;
    font-size: 16px;
    line-height: 22px;
    color: #242635;
} 

.main-title {
    max-width: 455px;
    width: 100%;
    min-height: 102px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 102px;
    letter-spacing: -2px;
    text-align: center;
    justify-content: center;
    color: #242635;
}

.main-info {
    max-width: 573px;
    width: 100%;
    min-height: 66px;
    font-family: 'source sans pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #242635;
}

.img_horses {
    display: inline-block;
    max-width:864px;
    width: 100%;
    min-height: 486px;
   
}
