.flex-container {
    display: flex;
    justify-content: center;
    max-width: 1400px;
    width: 100%;
    min-height: 100%;
}

header {
    max-width: 100%
}
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head {
    max-width: 90px;
    width: 100%;
    min-height: 36px;
    font-family: 'aldrich', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.25px;
    color: #242635;
}

a {
    text-decoration: none;
    color: black;
}

 nav ul {
    display: flex;
    justify-content: space-evenly;
    max-width: 267px;
    width: 100%;
    min-height: 25px;
}

li {
   list-style: none;
    
}



.nav-text { 
    
    justify-content: right;
    font-family: 'source sans pro', sans-serif;
    font-style: normal;
    font-weight:  400px;
    font-size: 16px;
    line-height: 22px;
    color: #242635;
} 

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 573px;
    text-align: center;
}

.main-title {
    
    width: 100%;
    min-height: 102px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 102px;
    letter-spacing: -2px;
    text-align: center;
    justify-content: center;
    color: #242635;
}

.main-info {
    
    width: 100%;
    min-height: 66px;
    font-family: 'source sans pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #242635;
}

.img_horses {
    display: inline-block;
    max-width:864px;
    width: 100%;
}

img {
    max-width: 100%
}

@media screen and (max-width: 768px) { /*do i need to change/add nav?*/
   .head {
    max-width: 90px;
    width: 100%;
    min-height: 36px;
    font-family: 'baloo thambi 2', cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.25px;
    color: #242635;
   }
   
    .main-title {
    max-width: 364px;
    width: 100%;
    min-height: 83px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 82.8px;
    letter-spacing: -1.6px;
    text-align: center;
    justify-content: center;
    color: #242635;
    }

   .main-info {
    max-width: 573.5px;
    width: 100%;
    min-height: 66px;
    width: 100%;
    min-height: 66px;
    font-family: 'source sans pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #242635;
    }
    .img_horses {
     max-width: 617px;
     width: 100%; 
     min-height: 512px;
    }
}

@media screen and (max-width: 320px) {
  .head {
    max-width: 90px;
    width: 100%;
    min-height: 36px;
    font-family: 'baloo thambi 2', cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.25px;
    color: #242635;
 }

 .nav-text{
   display: none;
 }
 .main-title {
    max-width: 182px;
    width: 100%;
    min-height: 40px;
    font-size: 36px;
    line-height: 39.6px;
}
 
.main-info {
    max-width: 217px;
    width: 100%;
    min-height: 49px;
    font-family: 'source sans pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #242635;
}

.img_horses {
    max-width: 256px;
    width: 100%;
    min-height: 284px;
 }
}
